<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/selection_sort.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="/js/selection_sort.js"></script>
  </head>
  <body>
    <h1>Selection Sort</h1>
    <div class="explanation">
      <p class="text_left">1. Find the minimum value of the set</p>
      <p class="text_left">2. Swap that minimum value with the first element of the set</p>
      <p class="text_left">3. Repeat for remainder of the set</p>
    </div>
    <div id="canvas">
      <canvas id="selection_sort" width="800" height="400" style="margin-top: 20px;">Your browser does not support HTML5 :(</canvas>
  </body>
</html>