<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/selection_sort.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="/js/selection_sort.js"></script>
  </head>
  <body>
    <h1>Selection Sort</h1>
    <h3 id='steps'></h3>
    <div id="canvas">
      <canvas id="selection_sort" width="800" height="400" style="margin-top: 20px;">Your browser does not support HTML5 :(</canvas>
  </body>
</html>